@import url('https://fonts.googleapis.com/css?family=Bai+Jamjuree');

html,
body,
header,
p {
    padding: 0;
    margin: 0;
    font-family: 'Bai Jamjuree', sans-serif;
}

.wrapper {
    text-align: center;
    min-height: 100vh;
    background-size: cover;
}

.wrapper>* {
    padding: 10px;

}
.header {
    background: #000000;
    color: #dddddd;
    max-height: 10vh;
}

.content {
    min-height: 90vh;
}

footer,
.footer {
    background: #000000;
    color: #dddddd;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.bgcolor-main {
    padding: 0px;
}

.bgcolor {
    padding: 0px;
}

.content-main {
    background: rgba(0, 0, 0, 0.75);
    position: absolute;
    top: 50%;
    width: 100%;
    padding: 0px;
}

.content-main,
.content {
    background: rgba(0, 0, 0, 0.75);
    text-align: left;
    color: #dddddd;
}

.next-event,
.rocket-name,
.event-info {
    text-align: center;
    margin: 0;
}

span {
    display: none;
    font-size: 14px;
    color: #ff6666;  
}

td a {
    text-decoration: none;
    color: #757F9D;
}

td:nth-of-type(2) {
    padding-left: 10px;
}

#selection {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 3px solid #757F9D;
    color: #757F9D;
    font-size: 18px;
    max-width: 300px;
}

.patch {
    display: block;
    margin: 0 auto;
    margin-bottom: 50px;
}

.menuContent {
    padding: 0;
    margin: 0;
}

label {
    display: block;
    min-width: 75px;
}

input,
textarea {
    margin: 3px 0 5px;
    border: 2px solid #757F9D;
}

fieldset {
    border: 3px solid #757F9D;
}

legend {
    padding: 0 10px;
}

#button {
    background: #757F9D;
    border: 2px solid #dddddd;
    font-family: inherit;
    padding: 0 20px;
    font-weight: 600;
    margin-top: 10px;
}

#small {
    color: #757F9D;
}

/*----- Desktop -----*/
@media (min-width: 1025px) {

    .wrapper {
        background-image: url(../img/desktop/background_1080.jpg);
    }

    .header {
        font-size: 72px;
        font-weight: 600;
        max-height: 100px;
    }
    
    .logo {
        height: 30px;
    }

    .content {
        display: block;
        text-align: left;
        color: #dddddd;
        width: 960px;
        margin: 0 auto;
        padding: 15px 20px 30px;
    }

    .next-event,
    .event-info {
        font-size: 36px;
    }

    .rocket-name {
        font-size: 60px;
    }

    .rocket-name a {
        text-decoration: none;
        color: #dddddd;
    }

    .rocket-name a:hover {
        color: #757F9D;
    }
    
    #content {
        text-align: center;
    }

    #summary {
        margin: 10px 0 20px;
    }

    #selection {
        border-radius: 19px;
        padding: 5px 15px;
    }

    .js-table {
        max-width: 650px;
        margin: 0 auto;
        text-align: left;
    }

    .patch {
        height: 200px;
        margin-top: 20px;
    }

    #center {
        max-width: 650px;
        margin: 0 auto;
    }

    /*----- Menu Start -----*/
    nav {
        background: rgba(0, 0, 0, 0.75);
        padding: 0;
        max-height: 40px;
    }

    li {
        display: inline-block;
    }

    li a {
        text-decoration: none;
        color: #dddddd;
        background: #000000;
        font-size: 24px;
        height: 40px;
        padding: 5px 20px;
    }

    li a:hover {
        background: rgba(50, 50, 50, 0.75);;
    }

    .active {
        background: rgba(50, 50, 50, 0.75);
    }

    /*----- Menu End -----*/

    /*----- Form Start -----*/

    .bgcolor-form {
        top: 122px;
        width: 100%;
        height: 85%;
        padding: 0;
    }

    input,
    textarea {
        font-size: 16px;
        padding: 1px 3px;
    }

    input {
        min-width: 20px;
    }

    textarea {
        height: 175px;
        width: 450px;
    }

    fieldset {
        width: 60%;
        margin: 0 auto;
    }

    legend {
        font-size: 28px;
    }

    #button {
        border-radius: 30px;
        font-size: 18px;
    }

    #button:hover {
        background: #E3E6EF;
    }

    #small {
        font-size: 14px;
    }

    /*----- Form End -----*/

}

/*----- Tablet -----*/
@media (min-width: 451px) and (max-width: 1024px) {
    .wrapper {
        background-image: url(../img/tablet/background_768.jpg);
    }

    .header {
        font-size: 72px;
    }

    .logo {
        height: 30px;
    }

    .next-event,
    .event-info {
        font-size: 36px;
    }

    .rocket-name {
        font-size: 60px;
    }

    .content {
        padding: 10px 25px;
        font-size: 24px;
    }

    td {
        padding: 5px 0;
    }

    #selection {
        height: 50px;
        border-radius: 24px;
        padding: 0 15px;
    }

    table tr td {
        vertical-align: text-top;
    }

    table {
        margin-bottom: 82px;
    }

    .patch {
        height: 200px;
        margin-top: 20px;
    }

    /*----- Form Start -----*/

    .bgcolor-form {
        width: 100%;
        height: 85%;
        padding: 0;
    }

    input,
    textarea {
        font-size: 24px;
    }

    input {
        height: 35px;
        min-width: 20px;
    }

    textarea {
        height: 175px;
        width: 450px;
    }

    legend {
        font-size: 28px;
    }

    #button {
        border-radius: 30px;
        height: 60px;
        font-size: 28px;
    }

    #small {
        font-size: 14px;
    }

    /*----- Form End -----*/


    /*----- Menu Start -----*/
    .menuContent {
        display: none;
        position: fixed;
        bottom: 140px;
        left: 0;
        background-color: #E3E6EF;
        width: 100%;
        text-align: center;
    }

    .menuContent .active {
        background: #757F9D;
    }

    .menuContent.hamburger {
        display: block;
    }

    .fixed-menu {
        position: fixed;
        bottom: 37px;
        right: 20px;
        display: block;
        height: 60px;
        width: 60px;
        background-color: #757F9D;
        text-align: center;
        border-radius: 50%;
    }

    .menuContent a {
        display: block;
        text-decoration: none;
        font-weight: 600;
        font-size: 36px;
        color: #000000;
        padding: 20px;
    }

    .one,
    .two,
    .three {
        display: block;
        height: 5px;
        width: 30px;
        background-color: #000000;
        margin: 6px 0;
    }

    #burger-icon {
        display: inline-block;
        margin: 10px 0;
    }

    nav {
        position: fixed;
        z-index: 1;
    }

    /*----- Menu End -----*/

    /*----- Footer Start -----*/

    footer {
        height: 130px;
        position: fixed;
        bottom: 0;
        width: 100%;
        font-size: 18px;
    }

    /*----- Footer End -----*/
}

/*----- Mobile -----*/
@media (max-width: 450px) {
    .wrapper {
        background-image: url(../img/mobile/background_414.jpg);
    }

    .header {
        font-size: 48px;
    }

    .content-main,
    .content {
        text-align: left;
    }

    .bgcolor-main {
        max-height: 98px;
        background: rgba(0, 0, 0, 0.75);
    }

    .next-event {
        font-size: 18px;
    }

    .rocket-name {
        font-size: 36px;
    }

    .event-info {
        font-size: 24px;
    }

    .content {
        margin-bottom: 5px;
        padding: 10px 3px;
    }

    td {
        padding: 5px 0 5px 10px;
    }
    
    table {
        margin-bottom: 82px;
    }

    #selection {
        height: 36px;
        border-radius: 18px;
        padding: 0 15px;
    }

    table tr td {
        vertical-align: text-top;
    }

    .patch {
        height: 100px;
        margin-top: 10px;
    }

    #summary {
        padding: 10px;
    }

    /*----- Form Start -----*/
    input {
        height: 20px;
    }

    legend {
        font-size: 16px;
    }

    #button {
        border-radius: 15px;
        height: 30px;
        font-size: 16px;
    }

    #small {
        font-size: 12px;
    }

    /*----- Form End -----*/


    /*----- Menu Start -----*/
    .menuContent {
        display: none;
        position: fixed;
        bottom: 82px;
        left: 0;
        background-color: #E3E6EF;
        width: 100%;
        text-align: center;
    }

    .menuContent .active {
        background: #757F9D;
    }

    .menuContent.hamburger {
        display: block;
    }

    .fixed-menu {
        position: fixed;
        bottom: 20px;
        right: 20px;
        display: block;
        height: 40px;
        width: 40px;
        background-color: #757F9D;
        text-align: center;
        border-radius: 50%;
    }

    .menuContent a {
        display: block;
        text-decoration: none;
        font-weight: 600;
        font-size: 24px;
        color: #000000;
        padding: 20px;
    }

    .one,
    .two,
    .three {
        display: block;
        height: 3px;
        width: 20px;
        background-color: #000000;
        margin: 3px 0;
    }

    #burger-icon {
        display: inline-block;
        margin: 10px 0;
    }

    nav {
        position: fixed;
        z-index: 1;
    }

    /*----- Menu End -----*/

    /*----- Footer Start -----*/

    footer {
        font-size: 14px;
    }

    /*----- Footer End -----*/

}