@import url('https://fonts.googleapis.com/css?family=Bai+Jamjuree');

/*
Blueish grey: #757F9D

*/

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Bai Jamjuree', sans-serif;
}

.wrapper {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    min-height: 100vh;
}

.wrapper>* {
    padding: 10px;
    flex: 1 100%;

}

footer,
.footer {
    background: #000000;
    color: #dddddd;
    padding: 0px;
}

.bgcolor {
    background: rgba(0, 0, 0, 0.75);
}

/*----- Desktop -----*/
@media (min-width: 1025px) {

    .wrapper {
        background-image: url(../img/desktop/background_1080.jpg);
        background-size: cover;
    }

    .header {
        font-size: 72px;
        font-weight: 600;
        background: #000000;
        color: #dddddd;
    }

    .content {
        text-align: left;
        color: #dddddd;
        width: 960px;
        margin: 0 auto;
    }

}

/*----- Tablet -----*/
@media (min-width: 451px) and (max-width: 1024px) {
    .wrapper {
        background-image: url(../img/tablet/background_768.jpg);
        background-size: cover;
    }
}

/*----- Mobile -----*/
@media (max-width: 450px) {
    .wrapper {
        background-image: url(../img/mobile/background_414.jpg);
        background-size: cover;
    }

    .header {
        font-size: 48px;
        background: #000000;
        color: #dddddd;
        max-height: 10vh;
    }

    .content-main,
    .content {
        text-align: left;
        color: #dddddd;
    }

    .bgcolor-main {
        max-height: 100px;
        background: rgba(0, 0, 0, 0.75);
    }

    .next-event,
    .event-info {
        text-align: center;
        padding: 5px 0;
        margin: 0;
    }

    .next-event {
        font-size: 36px;
    }

    .event-info {
        font-size: 24px;
    }

    .content{
        margin-bottom: 5px;
        min-height: 70vh;
        padding: 0 3px;
    }

    td {
        padding: 5px 0;
    }

    td:nth-of-type(2) {
        padding-left: 10px;
    }

    td a {
        text-decoration: none;
        color: #757F9D;
    }

    #selection {
        display: block;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
        height: 36px;
        border: 3px solid #757F9D;
        color: #757F9D;
        font-size: 18px;
        border-radius: 18px;
        padding: 0 15px;
        max-width: 300px;
    }

    table tr td {
        vertical-align: text-top;
    }

    .patch {
        display: block;
        margin: 0 auto;
        height: 100px;
        margin-bottom: 50px;
        margin-top: 10px;
    }

    /*----- Form Start -----*/

    label {
        display: block;
        min-width: 75px;
    }

    input,
    textarea {
        margin: 3px 0 10px;
        border: 2px solid #757F9D;
    }

    input {
        height: 20px;
    }

    fieldset {
        border: 2px solid #757F9D;
    }

    legend {
        font-size: 16px;
    }

    #button {
        background: #757F9D;
        border: 1px solid #757F9D;
        border-radius: 15px;
        height: 30px;
        padding: 0 20px;
        font-family: inherit;
        font-size: 16px;
        font-weight: 600;
    }

    #small {
        font-size: 12px;
        color: #757F9D;
    }

    /*----- Form End -----*/


    /*----- Menu Start -----*/
    .menuContent {
        display: none;
        position: fixed;
        bottom: 75px;
        left: 0;
        background-color: #E3E6EF;
        width: 100%;
        text-align: center;
        margin: 0px;
        padding: 0px;
    }

    .menuContent.hamburger {
        display: block;
    }

    .fixed-menu {
        position: fixed;
        bottom: 20px;
        right: 20px;
        display: block;
        height: 40px;
        width: 40px;
        background-color: #757F9D;
        text-align: center;
        vertical-align: middle;
        border-radius: 50%;
    }

    .menuContent a {
        display: block;
        text-decoration: none;
        font-weight: 600;
        font-size: 24px;
        vertical-align: middle;
        color: #000000;
        padding: 20px;
    }

    .one,
    .two,
    .three {
        display: block;
        height: 3px;
        width: 20px;
        background-color: #000000;
        margin: 3px 0;
    }

    #burger-icon {
        display: inline-block;
        margin: 10px 0;
    }

    nav {
        position: fixed;
        z-index: 1;
    }

    /*----- Menu End -----*/

    /*----- Footer Start -----*/

    .footer {
        min-height: 75px;
        position: fixed;
        bottom: 0;
        width: 100%;
    }

    footer {
        min-height: 75px;
        bottom: 0;
        width: 100%;
    }

    /*----- Footer End -----*/

}